<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-6 flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-blue-600">Asociación Sanjuanina de Nutrición</a>
    <nav>
      <a href="/" class="px-4">Home</a>
      <a href="/conocenos" class="px-4">Conocenos</a>
      <a href="/asociate" class="px-4">Asociate</a>
      <a href="/pago-cuota" class="px-4">Pago de la Cuota</a>
      <a href="/honorarios" class="px-4">Honorarios Mínimos</a>
      <a href="/covid-19" class="px-4">Covid-19</a>
      <a href="/contacto" class="px-4">Contacto</a>
    </nav>
  </div>
</header>
